@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgb(0, 0, 0, 0.9);
}

.container {
    width: 95%;
    margin: auto;
}

.link:hover {
    color: #ff5253;
}

.Muibadge-badge {
    background-color: #ff5253 !important;
}

nav ul button {
    text-transform: capitalize !important;
}
